{% import "theme/admin/common/macro/_select.html.twig" as macroSelect %}

{{ macroSelect.easySelect(options, 'Keys', 'twapi-keys') }}

<div class="alert-box secondary-alert">
  <div class="alert">
    <p class="text-medium">
      Requests limit counts : <span id="twapi-call-counts">{{ twApiCallCount|default(0) }}</span> / {{ twApiCallLimit|default(0) }} per {{ twApiCallIntervale|default('15 mins') }}
    </p>
  </div>
</div>

<div class="alert-box success-alert alert-box-result" style="display:none;">
  <div class="alert">
    <p id="alert-box-result-message" class="text-medium">
      Created : 0 / Updated : 0
    </p>
  </div>
</div>

<strong class="text-sm"><i class="fa-solid fa-triangle-exclamation"></i> After launch, please do not close. It may take time...</strong>
