{% import "theme/admin/common/macro/_select.html.twig" as macroSelect %}

{{ macroSelect.easySelect(rows, 'Keys', 'twapi-key') }}

<div class="alert-box success-alert" style="display:none;">
  <div class="alert">
    <p id="ajax-message" class="text-medium">
      Created : 0 / Updated : 0
    </p>
  </div>
</div>
