{% extends 'theme/front/base.html.twig' %}

{% block header %}{% endblock %}
{% block title %}Twitthor - Sign-Up{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="row no-gutter">

      <div class="col-md-6 d-none d-md-flex bg-image"></div>

      <div class="col-md-6 bg-light">
        <div class="login d-flex align-items-center py-5">

          <div class="container">
            <div class="row">
              <div class="col-lg-10 col-xl-7 mx-auto">
                <div class="text-nowrap">
                  <h3 class="display-4">
                    <a href="{{ path('app_index') }}" class="link-dark text-decoration-none">Twit<strong>thor</strong>.com</a> <small>/ <a href="{{ path('app_security_signin') }}" class="link-dark">Sign-in</a></small>
                  </h3>
                </div>
                <p class="text-muted mb-4">⚡️ Feel the power of the Thor !</p>
                {{ form(form) }}
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
{% endblock %}
