<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome to Twitthor{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}
  </head>
  <body>
    {% block header %}
        {% include 'theme/front/common/_header.html.twig' %}
    {% endblock %}

    {% block flash %}
      {% for message in app.flashes('success') %}
        {% include 'theme/front/common/_flash.html.twig' with {'type': 'success', 'message': message} %}
      {% endfor %}
      {% for message in app.flashes('infos') %}
        {% include 'theme/front/common/_flash.html.twig' with {'type': 'info', 'message': message} %}
      {% endfor %}
      {% for message in app.flashes('warnings') %}
        {% include 'theme/front/common/_flash.html.twig' with {'type': 'warning', 'message': message} %}
      {% endfor %}
      {% for message in app.flashes('errors') %}
        {% include 'theme/front/common/_flash.html.twig' with {'type': 'danger', 'message': message} %}
      {% endfor %}
    {% endblock %}

    {% block body %}
      <div class="container-fluid"></div>
    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </body>
</html>
