{% extends 'base.html.twig' %}

{% block title %}Twitthor Pro - Registration{% endblock %}

{% block header %}{% include 'partials/_header.html.twig' %}{% endblock %}

{% block body %}
    <div class="container mt-4">
        {{ form(form) }}
    </div>
{% endblock %}
