{% extends 'base.html.twig' %}

{% block title %}Twitthor - Registration{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Registration or <a href="{{ path('app_security_login') }}">Login</a></h1>

        {{ form(form) }}
    </div>
{% endblock %}
